[Desktop Entry]
Name=Ghost Recon Breakpoint
Comment=Play this game on Steam
Exec=steam steam://rungameid/2231380
Icon=steam_icon_2231380
Terminal=false
Type=Application
Categories=Game;
